<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{item.todo}} | Nest Todo App</title>
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
</head>
<body>
  <div>
    <a href="/item" class="siimple-link">戻る</a>
    <h1>{{item.todo}}</h1>
    <div class="item_box">
      <span>id: {{item.id}}</span>
      <span>todo: {{item.todo}}</span>
      <span>limit: {{item.limit}}</span>
      <span>
        <a href="/item/{{item.id}}/edit" class="siimple-link">編集</a>
      </span>
    </div>
  </div>
</body>
</html>